{% extends 'base.html' %}

{% block content %}
  <div class="container my-3">
    <!-- 사용자오류 표시 -->
    {% if messages %}
      <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
          <strong>{{ message.tags }}</strong>
          <ul>
            <li>{{ message.message }}</li>
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <h2 class="border-bottom py-2 text-primary">
      <i class="fa-solid fa-question"></i>
      {{ question.subject }}
    </h2>

    <div class="card my-3">
      <div class=" card-body">
        <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
        <div class="d-flex justify-content-end">
          <div class="badge badge-primary p-2">
            <div class="mb-2">
              <img class="avarta" src="https://randomuser.me/api/portraits/men/{{question.author.id}}.jpg"/>
              {{ question.author.username }}
            </div>
            <div>
              <i class="fa-regular fa-clock"></i>
              {{ question.create_date }}
            </div>
          </div>
        </div>
      </div>
      {% if request.user == question.author %}
        <div class="my-3">
          <a href="{% url 'pybo:question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
          {% comment %} <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a> {% endcomment %}
          <a href="#" class="delete btn btn-sm btn-outline-secondary text-danger" data-uri="삭제 URI">삭제</a>
        </div>
      {% endif %}
    </div>

    <h5 class="border-bottom my-3 py-2">
      <i class="fa-solid fa-comments"></i>
      {{ question.answer_set.count }}개의 답변이 있습니다.
    </h5>

    <div>
      <ul>
        {% for answer in question.answer_set.all %}
          <div class="card my-3">
            <div class="card-body">
              <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
              <div class="d-flex justify-content-end">
                <div class="badge badge-info p-2">
                  <i class="fa-regular fa-clock"></i>
                  {{ answer.create_date }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </ul>
    </div>

    <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert-danger" role="alert">
          {% for field in form %}
            {% if field.errors %}
              <strong>{{ field.label }}</strong>
              {{ field.error }}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="form-group">
        <textarea {% if not user.is_authenticated %} disabled="disabled" {% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
      </div>
      <input type="submit" value="답변등록" class="btn btn-outline-primary">
    </form>

    <a href="{% url 'pybo:index' %}">목록보기</a>
  </div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function(){
    console.log('로딩 완료');
    console.log($('.delete'));
  });
</script>
{% endblock script %}
{% comment %} 도큐먼트를 관리하는 j쿼리 객체를 만들어라.
도큐먼트 = 브라우저 자체를 말한다.
준비가 다 되었으면(ready) 이 함수를(function(){}) 실행시켜라 {% endcomment %}
