{% extends 'base.html' %}

{% load pybo_filter %}

{% block content %}
  <!-- 사용자오류 표시 -->
  {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
      {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
          <li>{{ message.message }}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}
  
  <h2 class="border-bottom py-2 text-primary">
    <i class="fa-solid fa-question"></i>
    {{ question.subject }}
  </h2>

  <div class="row my-3">
    <div class="col-1">
      <!-- 추천 영역 -->
      <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{question.voter.count}}</div>
      <a href="#" data-uri="{% url 'pybo:vote_question' question.id %}" class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
    </div>
    <div class="col-11">
      <!-- 질문 영역 -->

      <div class="card">
        <div class=" card-body">
          <div class="card-text" style="white-space: pre-line;">{{ question.content|mark }}</div>
          <div class="d-flex justify-content-end">
    
            <div class="badge badge-primary p-2">
              <div class="mb-2">
                <img class="avarta" src="https://randomuser.me/api/portraits/men/{{question.author.id}}.jpg"/>
                {{ question.author.username }}
              </div>
              <div>
                <i class="fa-regular fa-clock"></i>
                {{ question.create_date }}
              </div>
            </div>
          </div>
        </div>
        {% if request.user == question.author %}
          <div class="my-3">
            <a href="{% url 'pybo:question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="#" class="delete btn btn-sm btn-outline-secondary text-danger" data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a>
          </div>
        {% endif %}
      </div>
    
      {% include 'pybo/comment_question.html' %}
    

    </div>
  </div>



  {% include 'pybo/answer_list.html' %}

  {% include 'pybo/answer_create_form.html' %}

  <a href="{% url 'pybo:index' %}">목록보기</a>

{% endblock content %}

{% block script %}
  <script>
    $(document).ready(function () {
      let btns = ($('.delete')); // 변수 선언 키워드 let
      btns.on('click', function () {
        console.log('click 발생');
        let answer = confirm('정말 삭제할까요?');
        if (answer) {
          location.href = ($(this).data('uri'))
        } //console.log($(this).data('uri'))
      });

      $('.recommend').on('click', function() {
        if (confirm('정말로 추천하시겠습니까?')) {
          location.href = $(this).data('uri');
        }
      });


      console.log('click 이벤트 핸들러 등록 완료')
    });

  </script>
{% endblock script %}
{% comment %} 도큐먼트를 관리하는 j쿼리 객체를 만들어라.
도큐먼트 = 브라우저 자체를 말한다.
준비가 다 되었으면(ready) 이 함수를(function(){}) 실행시켜라 {% endcomment %}
